@import "../../sass/mixins";

$price-color: #fb5e16;
$title-color: #1e2138;
$border-color: #c4c4c4;
$options-color: #646464;
$text-color: #ffffff;

.MoreButton {
  cursor: pointer;
  background-color: transparent;
  padding: 12px 24px;
  color: $price-color;
  border: 1.5px solid $price-color;
  font-weight: 500;
  font-size: 18px;
  transition: 200ms;

  &-about {
    width: 150px;
  }

  &-deals {
    width: auto;
    justify-self: center;
    grid-column: 3 span;

    @include laptop {
      grid-column: 2 span;
    }
  }

  &:hover {
    background-color: $price-color;
    color: $text-color;
  }
}
