$price-color: #FB5E16;
$title-color: #1E2138;
$border-color: #C4C4C4;
$options-color: #646464;
$background-color: #171B2B;
$text-color: #fff;

.Navigation {
    display: flex;
    gap: 120px;
    align-items: center;

    &__left {
        img {
            width: 90px;
            cursor: pointer;
        }
    }

    &__right {
        display: flex;
        gap: 40px;

        li {
            text-transform: uppercase;
            cursor: pointer;
            transition: 200ms;

            &:hover {
                color: $price-color;
            }

        }
    }
}