$price-color: #FB5E16;
$title-color: #1E2138;
$border-color: #C4C4C4;
$options-color: #646464;

.Houses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 25px;
  row-gap: 50px;
  justify-content: center;

  &>h1 {
    color: $title-color;
    font-size: 60px;
    grid-column: 3 span;
    text-align: center;
  }

  &__card {
    width: 100%;
  }

  &__img {
    width: 100%;
    height: 350px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__content {
    padding: 27px;
    display: flex;
    flex-direction: column;
    box-shadow: inset -1px 0 0 0 $border-color, inset 1px 0 0 0 $border-color, inset 0 -1px 0 0 $border-color;
    gap: 15px;

    h2 {
      border-bottom: 1px solid $border-color;
      color: $title-color;
    }

    .options {
      display: flex;
      gap: 18px;
      color: $options-color;
      .middleSpan{
        position: relative;
        &::after{
          content: '';
          width: 1px;
          height: 14px;
          background-color: $border-color;
          position: absolute;
          left: -10px;
          top: calc(50% - 7px);
        }
        &::before{
          content: '';
          width: 1px;
          height: 14px;
          background-color: $border-color;
          position: absolute;
          right: -10px;
          top: calc(50% - 7px);
        }
      }
    }

    .price {
      color: $price-color;
      font-size: 20px;
      font-weight: 700;
    }
  }

  button {
    display: block;
    cursor: pointer;
    background-color: transparent;
    padding: 16px 28px;
    color: $price-color;
    border: 1.5px solid $price-color;
    grid-column: 3 span;
    justify-self: center;
    font-weight: 500;
    font-size: 18px;
  }
}