@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,600;0,700;0,800;0,900;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  max-width: 1920px;
  margin: 0 auto;
  line-height: 1.5;
}

.container {
  max-width: 1440px;
  margin: 100px auto;
  padding-left: 16px;
  padding-right: 16px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}